@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'CookieRun-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/CookieRun-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    @apply md:text-[16px] text-[12px];
    font-family: "CookieRun-Regular", -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-weight: 400;
}

body {
    @apply min-w-[320px] bg-gray-50 break-words;
}

.inner {
    @apply max-w-[980px] mx-auto px-[10px];
}

.recent-posts-list {
    @apply flex gap-2.5 flex-nowrap;
}

.recent-posts-list .item {
    @apply rounded-2xl;
    min-width: 166px;
    background: #fff center center no-repeat;
    background-size: cover;
    position: relative;
    transition: all 0.2s;
    flex: 0 0 166px;
}

.recent-posts-list .item::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .3);
    border-radius: inherit;
    z-index: 1;
}

.recent-posts-list .item:hover {
    flex-basis: 256px;
    transition: all 0.2s;
}

.recent-posts-list .item.active {
    flex-basis: 256px;
}

.recent-posts-list .item a {
    @apply block text-white h-full pt-32 pl-3 pr-3 pb-3 relative z-10;
}

.recent-posts-list .item .cate {
    @apply text-sm text-right absolute top-3 left-3 right-3;
}

.post-list {
    @apply flex flex-col;
}

.post-list .item {
    @apply flex flex-wrap mt-5;
}

.post-list .item:first-of-type {
    @apply mt-0;
}

.post-list .item a {
    @apply flex flex-wrap w-full justify-between md:items-stretch items-center;
}

.post-list .item a:hover img {
    transform: scale(1.3);
    transition: all 0.3s;
}

.post-list .item .img {
    @apply w-[35%] md:pt-[30%] pt-[33%] h-0 relative overflow-hidden rounded-2xl;
}

.post-list .item .img img {
    @apply w-full h-full absolute top-0 left-0 right-0 bottom-0 object-cover;
    transition: all 0.2s;
}

.post-list .item .txt-box {
    @apply w-[65%] flex flex-wrap flex-col justify-between py-3 px-5;
}

.post-list .item .info, .post-list .item .date {
    @apply md:mt-1 mt-5;
}

.title-image-box {
    @apply pt-36 pb-5;
    background: #fff center center no-repeat;
    background-size: cover;
    text-shadow: 0 1px 4px rgba(0, 0, 0, .6);
}

.tag-list {
    @apply flex flex-wrap mt-10;
}

.tag-list li {
    @apply mr-1;
}

.tag-list li a {
    @apply text-sm border border-purple-600 text-gray-400 px-3 py-1;
}

.toastui-editor-contents {
    font-family: inherit !important;
}

.txt-box .group {
    width: 100%;
}
